.fact{
    width: 100vw;
    height: max-content;
    background-color: black;
    padding: 5vw 10vw;
    padding-top: 2vw;
    padding-bottom: 10vw;

    .fun{
            font-family: 'Plus Jakarta Sans', sans-serif;
            color: #FFF8E2;
            overflow: hidden;

            .fun-text{
                text-align: center;
                font-size: 7vw;
                font-weight: 700;
                letter-spacing: 0.05em;
                
                .fn{
                    display: inline-block;
                    visibility: hidden;
                }
            } 
    }
    p{
        margin-top: 4vw;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #FFF8E2;
        text-align: center;
        font-size: 1.2vw;
        font-weight: 500;
        letter-spacing: 0.05em;
        line-height: 2.5vw;
        .prompt{
            visibility: hidden;
            display: inline-block;
        }
    }
}


@media screen and (max-width:890px){
    .fact{
        p{
            text-align: justify;
            font-size: 1.8vw;
            line-height: 3.8vw;
        }
    }
}

@media screen and (max-width:700px){
    .fact{
        .fun{
            .fun-text{
                font-size: 9vw;
            }
        }
        p{
            text-align: justify;
            font-size: 2.7vw;
            line-height: 5vw;
        }
    }
}

@media screen and (max-width:450px){
    .fact{
        padding-bottom: 22vw;
        .fun{
            .fun-text{
                font-size: 10vw;
            }
        }
        p{
            text-align: justify;
            font-size: 3.7vw;
            line-height: 7vw;
        }
    }
}