.hero-section{
    position: relative;
    width: 100vw;
    height: 100vh;

    .hero-anim{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, .15); 
        backdrop-filter: blur(5px);
        z-index: 20;
    }

    .hero-img{
        width: 100%;
        height: 100%;
        // background-image: url("https://i.ibb.co/qF9Bw2D/Hero-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    .sphere{
        position: relative;
        top: -10%;
        left: 58%;
        width: max-content;
        mix-blend-mode:overlay;
        transform: rotate(180deg);
        img{
            width: 150%;
            opacity: 0.2;
        }
    }

    .content{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        color: white;
        z-index: 2;
        transform: translate(-50%,-50%);
        overflow: hidden;
        .words{
            overflow: hidden;
            width: 100%;
            height: 10vw;
            place-content: center;
            .word{
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 3.3vw;
                font-weight: 600;
                letter-spacing: 0.05em;
                text-align: center;
                display: block;
                height: 100%;
                animation: shuffle_words 10s infinite cubic-bezier(0.25, 1, 0.5, 1);
                margin-bottom: 1vw;
            }
            .special{
                color: rgb(223, 255, 250);
                text-shadow: 5px -5px 20px rgba(196, 236, 255, 0.294);
            }
        }
    }

    .rotating-circle{
        position: absolute;
        bottom: 10%;
        left: 10%;
        animation: rotating 10s linear infinite;
    }

}

@keyframes rotating{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 1200px){
    .hero-section{
        .content{
            .words{
                .word{
                    font-size: 4vw;
                    letter-spacing: 0.1em;
                }   
            }
        }
    }
}

@media screen and (max-width: 820px){
    .hero-section{
        .content{
            width: 90%;
        }
    }
}

@media screen and (max-width: 600px){
    .hero-section{
        .content{
            .words{
                height: 20vw;
                .word{
                    font-size: 5vw;
                }    
            }
        }
    }
}

@media screen and (max-width: 500px){
    .hero-section{
        .content{
            .words{
                .word{
                    font-size: 6vw;
                    letter-spacing: 0.1em;
                }    
            }
        }
        .rotating-circle{
            left: 40%;
            // transform: translate(-50%,10%);
        }
    }
}

@media screen and (max-width: 430px){
    .hero-section{
        .content{
            width: 100%;
            top: 45%;
            .words{
                height: 25vw;
                .word{
                    font-size: 7vw;
                    letter-spacing: 0.1em;
                    font-weight: 600;
                }
            }
        }
        .rotating-circle{
            left: 40%;
            bottom: 20%;
        }
    }
}

@media screen and (max-width: 380px){
    .hero-section{
        .rotating-circle{
            left: 37%;
        }
    }
}

@media screen and (max-width: 300px){
    .hero-section{
        .rotating-circle{
            left: 35%;
        }
    }
}

@keyframes shuffle_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}