.about{
    width: 100vw;
    height: max-content;
    background-color: #010101;
    padding: 3.125vw 10vw;

    .ab-heading{
        margin-bottom: 4vw;
        margin-top: 2vw;
        overflow: hidden;
        .about-heading{
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 8.5vw;
            font-weight: 700;
            color: white;
            letter-spacing: 0.05em;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            visibility: hidden;
        }
    }
    .skills{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 1.1vw;
        color: #D4D4D4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5vw;
        letter-spacing: 0.05em;
        list-style: none;
        overflow: hidden;
        li{
            visibility: hidden;
        }
    }

    .sub-heading{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 3vw;
        font-weight: 500;
        color: #FFF8E2;
        letter-spacing: 0.05em;
        margin-bottom: 4vw;
        margin-top: 6vw;
        overflow: hidden;
        p{
            display: inline-block;
            visibility: hidden;
        }
    }

    .work-motto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 5.8vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        padding-bottom: 10vw;
        .text-card:nth-child(even){
            transform: translate3d(0,12vw,0);
        }
    }

    #marquee{
        font-size: 5vw;
    }
    
    .quinti{
        font-size: 5vw;      
        color: #FFF8E2;
        margin-bottom: 5vw;
        overflow: hidden;
        p{
            font-family: 'DM Sans', sans-serif;
            text-align: left;
            line-height: 7vw;
            display: inline-block;
            visibility: hidden;
        }
    }
}

@media screen and (max-width: 900px){
    .about{
        .ab-heading{
            .about-heading{
                font-size: 13vw;
            }
        }
        .skills{
            font-size: 1.3vw;
            li{
                margin-right: 1.7vw;
            }
        }
        .sub-heading{
            font-size: 4vw;
            margin-top: 8vw;
            line-height: 6vw;
        }
        .quinti{
            font-size: 6vw;
        }
    }
}

@media screen and (max-width: 650px){
    .about{
        .work-motto{
            place-items: center;
            grid-template-columns: repeat(1, 1fr);
            .text-card:nth-child(even){
                transform: translate3d(0,0,0);
            }
        }
    }
}

@media screen and (max-width: 450px){
    .about{
        .ab-heading{
            margin-bottom: 7vw;
            .about-heading{
                font-size: 13vw;
            }
        }
        .skills{
            font-size: 1.8vw;
            li{
                margin-right: 2.5vw;
            }
        }
        .sub-heading{
            font-size: 4.5vw;
            margin-top: 10vw;
            line-height: 8vw;
        }
        .work-motto{
            margin-top: 15vw;
        }

        #marquee{
            font-size: 10vw;
        }
        .quinti{
            font-size: 7vw;
            margin-bottom: 15vw;
        }
    }
}