.navbar{
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.125vw 10vw;
    position: fixed;
    z-index: 10;
    transition: all 0.3s ease-out;

    &.hidden{
        visibility: hidden;
        opacity: 0;    
    }

    .links{
        display: flex;
        flex-direction: column;
        a{
            font-family: 'Plus Jakarta Sans', sans-serif;
            color: white;
            font-weight: 400;
            font-size: 0.73vw;
            letter-spacing: 0.2em;
            margin-bottom: 1vw;
            text-align: right;
            cursor: pointer;
        }
        transition: color 1s ease-out;
        &.active{
            a{
                color: black;
                font-weight: 600;
            }
            transition: color 1s ease-out;
        }
    }
    .logo{
        cursor: pointer;
    }
}

@media screen and (max-width: 1200px){
    .navbar{
        padding: 5vw 10vw;
    }
}

@media screen and (max-width: 820px){
    .navbar{
        padding: 7vw 10vw;
    }
}

@media screen and (max-width: 550px){
    .navbar{
        padding: 9vw 10vw;
    }
}

@media screen and (max-width: 430px){
    .navbar{
        padding: 11vw 10vw;
    }
}

@media screen and (max-width: 300px){
    .navbar{
        padding: 15vw 10vw;
    }
}