@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Anton&display=swap');
@import url('//db.onlinewebfonts.com/c/6228016f2b172c06410f3a2356d33f6c?family=Roobert-Regular');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 0.5vw;
}

::-webkit-scrollbar-track{
  background: #000;
}


::-webkit-scrollbar-thumb{
  background: rgba(196, 196, 196, 0.854);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(104, 138, 252, 0.854);
}

html, html::before, html::after{
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roobert-Regular" !important;
  font-family: 'DM Sans', sans-serif ; 
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}



