.work{
    width: 100vw;
    height: max-content;
    background-color: #010101;
    padding: 3rem 10rem;

    .heading{
        display: flex;
        align-items: center;
        p{
            font-family: "Poppins";
            font-size: 0.8rem;
            font-weight: 300;
            letter-spacing: 0.05em;
            color: white;
            margin-left: 1rem;
        }
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 5.8vw;
        margin-top: 5rem;
        padding-bottom: 10vw;
        .card:nth-child(even){
            transform: translate3d(0,9.11vw,0);
        }
    }

    .work-motto{

    }

}

