.manifesto-section{
    width: 100vw;
    height: 192vh;
    position: relative;
    padding: 1vw;

    .manifesto-bg{
        width: 100%;
        height: 100%;
        // background-image: url("https://i.ibb.co/jLytDCf/Manifesto-Bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .overflow{
        overflow: hidden;
    }

    .digital-exp{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        padding: 4vw 6vw;
        align-items: center;
        justify-content: center;

        .digi-text{
            flex: 50%;
          
            .digi-heading{
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 7vw;
                font-weight: 600;
                color: white;
                margin-bottom: 3vw;
                letter-spacing: 0.08em;
                line-height: 10vw;
                opacity: 1;
                overflow: hidden;
                .wow{
                    font-family: 'Plus Jakarta Sans', sans-serif;
                    font-size: 7vw;
                    font-weight: 600;
                    color: white;
                    letter-spacing: 0.08em;
                    line-height: 10vw;
                    opacity: 1;
                    display: inline-block;
                    visibility: hidden;
                }
            }
            .para{
                font-family: 'DM Sans', sans-serif;
                font-size: 1vw;
                font-weight: 300;
                color: white;
                letter-spacing: 0.1em;
                padding-left: 0.5vw;
                visibility: hidden;
            }
        }

        .dig-img{
            width: 28vw;
            height: 36.90vw;
            padding-bottom: 2vw;
            transition: transform .8s cubic-bezier(.19,1,.22,1);;
            &:hover{
                transform: rotate(2deg) !important;
            }
            img{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }
        
    }

    .motto{
        position:absolute;
        top: 50%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4vw 6vw;
        
        .motto-text{
            flex: 50%;
            padding-left: 8vw;
            .motto-text-section{
                font-family: 'DM Sans', sans-serif;
                font-size: 2.8vw;
                font-weight: 400;
                color: white;
                margin-bottom: 4vw;
                letter-spacing: 0.05em;
                line-height: 2vw;
                display: inline-block;
                visibility: hidden;
            }
    
            .motto-para{
                font-family: 'DM Sans', sans-serif;
                font-size: 1.15vw;
                font-weight: 300;
                color: white;
                letter-spacing: 0.1em;
                line-height: 2vw;
                visibility: hidden;
                margin-top: 3vw;
            }
        }

        .motto-img{
            width: 26vw;
            height: 34.666vw;
            padding-bottom: 2vw;
            position: relative;

            img{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform .8s cubic-bezier(.19,1,.22,1);
                &:hover{
                    transform: scale(1.1);
                }
            }
            .pink-bg{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

@media screen and (max-width: 1350px){
    .manifesto-section{
        height: 150vh;
    }
}

@media screen and (max-width: 1024px){
    .manifesto-section{
        height: 120vh;
    }
}

@media screen and (max-width: 950px){
    
    .manifesto-section{
        .digital-exp{
            .digi-text{
                .digi-heading{
                    .wow{
                        font-size: 9vw;
                        line-height: 11vw;
                    }
                }
                .para{
                    font-size: 2vw;
                }
            }
            .dig-img{
                width: 32vw;
                height: 43vw;
                padding-bottom: 4vw;
            }
        }

        .motto{
            .motto-text{
                .motto-text-section{
                    font-size: 3.7vw;
                    line-height: 5vw;
                    margin-bottom: 3vw;
                }
                .motto-para{
                    font-size: 2.5;
                    margin-top: 2vw;
                }
            }
            .motto-img{
                width: 35vw;
                height: 47vw;
            }
        }
    }

}

@media screen and (max-width: 800px){
    .manifesto-section{
        height: 240vh;
        .digital-exp{
            flex-direction: column;
            padding: 4vw 3vw;
            justify-content: space-between;
            .digi-text{
                margin-bottom: 5vw;
                .digi-heading{
                    .wow{
                        font-size: 11vw;
                        line-height: 14vw;
                    }
                }
            }
            .dig-img{
                width: 50vw;
                height: 66.66vw;
            }
        }
        .motto{
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%,0);
            flex-direction: column-reverse;
            padding: 4vw 3vw;
            justify-content: space-between;
            .motto-text{
                margin-bottom: 10vw;
                .motto-text-section{
                    font-size: 4.4vw;
                    line-height: 6vw;
                }
                .motto-para{
                    font-size: 1.6vw;
                }
            }
            .motto-img{
                width: 50vw;
                height: 66vw;
            }
        }
    }
}

@media screen and (max-width: 650px){
    .manifesto-section{
        height: 250vh;
        .digital-exp{
            .digi-text{
                .digi-heading{
                    .wow{
                        font-size: 13vw;
                        line-height: 15vw;
                    } 
                }
                .para{
                    font-size: 2.5vw;
                    margin-top: 5vw;
                }
            }
            .dig-img{
                width: 70vw;
                height: 93vw;
            }
        }
        .motto{
            top: 48%;
            .motto-text{
                margin-bottom: 14vw;
                .motto-text-section{
                    font-size: 5vw;
                    line-height: 7.5vw;
                }
                .motto-para{
                    font-size: 2vw;
                    line-height: 4vw;
                }
            }
            .motto-img{
                width: 70vw;
                height: 93vw;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .manifesto-section{
        height: 200vh;
    }
}

@media screen and (max-width: 420px){
    .manifesto-section{
        height: 190vh;
        .digital-exp{
            padding: 6vw 3vw;
            .digi-text{
                .digi-heading{
                    .wow{
                        font-size: 15vw;
                        line-height: 18vw;
                    } 
                }
                .para{
                    font-size: 2.9vw;
                    margin-top: 5vw;
                }
            }
            .dig-img{
                width: 80vw;
                height: 107vw;
            }
        }
        .motto{
            top: 48%;
            .motto-text{
                margin-bottom: 22vw;
                .motto-text-section{
                    font-size: 6vw;
                    line-height: 9vw;
                }
                .motto-para{
                    margin-top: 3vw;
                    font-size: 2.5vw;
                    line-height: 4vw;
                }
            }
            .motto-img{
                width: 75vw;
                height: 100vw;
            }
        }
    }
}
